@use "../../utils" as *;

/*----------------------------------------*/
/*  8.2 faq
/*----------------------------------------*/
.rs__faq {
    .accordion-button {
        font-size: var(--rs-fs-h5);
        line-height: var(--rs-lh-h5);
        color: var(--rs-heading-primary);
        font-weight: var(--rs-fw-medium);
        background: transparent;
        padding: 25px 0;
        padding-right: 50px;
        display: inline-block;
        &:focus {
            box-shadow: none;
        }
        &:not(.collapsed) {
            @include light {
                background: var(--rs-bg-10);
            }
            box-shadow: none;
            &::after {
                content: "\f068";
            }
        }
        &::after {
            position: absolute;
            right: 30px;
            content: "\2b";
            background-image: none;
            font-family: var(--rs-ff-fontawesome);
            font-size: 16px;
            top: calc(50% - 6px);
            font-weight: 400;
            text-align: center;
            color: var(--rs-theme-primary);
            @extend %translateY1_2;
            @media #{$sm,$md} {
                right: 25px;
            }
            @media #{$xs, $lg} {
                left: 20px;
            }
        }
    }
    .accordion-body {
        padding-top: 0;
        padding-bottom: 50px;
        padding-right: 50px;
        > P {
            margin-bottom: 0;
        }
    }
    .accordion-item {
        border: 0;
        background: transparent;
        &:first-child {
            border-top: 1px solid var(--rs-gray-200) !important;
        }
        &:nth-child(odd) {
            border-bottom: 1px solid var(--rs-gray-200) !important;
        }
        &:nth-child(even) {
            border-bottom: 1px solid var(--rs-gray-200) !important;
        }
    }
}