@use "../../utils" as *;

/*----------------------------------------*/
/*  8.5 pricing
/*----------------------------------------*/
.pricing {
    
    &__toggler_button {
        .rs-btn {
            @include border-radius(45px);
            font-size:var(--rs-fs-h5);
            line-height:var(--rs-lh-h5);
            font-weight:var(--rs-fw-medium);
            padding: 16.5px 36px;
            background-color: var(--rs-common-white);
            color: var(--rs-heading-primary);
            box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
            border: 1px solid rgb(227 232 244 / 20%);
            
            &.active {
                color: var(--rs-common-white);
                &::before {
                    transform: translate(0, 0);
                }
            }
            
            &:hover {
                color: var(--rs-common-white);
            }
            
            &:first-child {
                padding-right: 29px;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                border-right: 0;
                &:before {
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    background-color: var(--rs-theme-primary);
                }
            }
            &:last-child {
                padding-left:29px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-left: 0;
                &:before {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    background-color: var(--rs-theme-primary);
                }
            }
        }
    }
    
    .mb-minus-30  {
        margin-bottom: -30px;
    }
}

.pricing-card {
    position: relative;
    @include border-radius(5px);
    border: 2px solid var(--rs-gray-200);
    padding: 40px 50px;
    
    @media #{$xs, $sm} {
        padding: 35px 30px;
    }
    
    &-popular {
        
        .price-bg {
            z-index: 1;
            position: relative;
            &:after {
                top: 0;
                width: 200% !important;
                height: 100%;
                position: absolute;
                left: -50px;
                content: "";
                z-index: -1;
                background-color:var(--rs-gray-100);
            }
        }
    }
    
    &-price {
        
        &.price-bg {
            z-index: 1;
            position: relative;
            &:after {
                top: 0;
                width: calc(100% + 67px);
                height: 100%;
                position: absolute;
                left: -50px;
                content: "";
                z-index: -1;
                background-image: url(../imgs/pricing/pricing-bg.svg);
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
            }
        }
        
        span:not(:first-child) {
            font-size:var(--rs-fs-body);
            line-height:var(--rs-lh-body);
        }
    }
    
    &-body {
        
        ul {
            display: flex;
            list-style: none;
            flex-direction: column;
            gap: 16px;
            
            li {
                position: relative;
                color: var(--rs-gray-900);
                font-size:var(--rs-fs-h5);
                line-height:var(--rs-lh-h5);
                display: flex;
                align-items: center;
                
                &:before {
                    color: var(--rs-theme-primary);
                    content:"\f101";
                    font-size: 14px;
                    font-family: var(--rs-ff-fontawesome);
                    font-weight: 900;
                    margin-inline-end: 10px;
                    display: inline-block;
                }
            }
        }
    }
    
    &-button {
        padding: 18px 20px;
        width: 100%;
        background: transparent;
        color: var(--rs-gray-900);
        border: 2px solid var(--rs-gray-200);
        &:before {
            background-color: var(--rs-theme-primary)
        }
        
        span svg path[fill="white"]{
            fill: var(--rs-gray-900);
        }
        
        &:hover {
            border-color: transparent;
            
            span svg path[fill="white"]{
                fill: var(--rs-common-white);
            }
        }
    }
    
    &__top-bar {
        position: relative;
        
        span {
            display: block;
            font-size: var(--rs-fs-body2);
            line-height: var(--rs-lh-body2);
            font-weight: var(--rs-fw-bold);
            z-index: 1;
            position: absolute;
            top: -2px;
            right: -10px;
            @include transform(rotate(270deg));
            &:after {
                top: -11.55555px;
                width: 105.328px;
                height: 39.273px;
                position: absolute;
                left: -24px;
                content: "";
                z-index: -1;
                background-image: url(../imgs/pricing/popular-bg.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:before {
                top: -11.55555px;
                width: 999%;
                height: 39.273px;
                position: absolute;
                left: 0;
                content: "";
                z-index: -1;
                background-color:var(--rs-theme-primary);
            }
        }
    }
}